<div id=navbar>
	<div>
		<md-select placeholder=Catalog><md-option>Dummy</md-option></md-select>
		<md-select placeholder=Category><md-option>Dummy</md-option></md-select>
		<md-select placeholder=Merchandize><md-option>Dummy</md-option></md-select>
		<md-select placeholder=Marketing><md-option>Dummy</md-option></md-select>
		<md-select placeholder=Storefront floatPlaceholder=false>
			<md-option *ngFor="let option of storefrontLinks" [routerLink]="[option.route]">{{ option.label }}</md-option>
		</md-select>
	</div>
	<div>
		<button></button>
		<button></button>
		<button></button>
	</div>
</div>