#dashboard {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#page-content {
	display: flex;
	flex-direction: row;
	flex: 1 1;
}

#dashboard-content {
	background-color: #eeeeee;
	flex: 1 1;
}